.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 100;
  background-color: var(--primary-color);
  transition: width 0.4s ease-in-out;
  overflow: hidden;
  border-right: 1px solid var(--bg-color);
}
.sidebar-closed {
  width: 3.5rem;
}
.sidebar-open {
  width: 10rem;
}

.collapse-button {
  border-bottom: 1px solid var(--bg-color);
}
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar li a {
  display: flex;
  padding: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.sidebar li a:hover {
  background-color: var(--secondary-color);
  color: var(--hover-text-color);
}
.icon {
  color: var(--text-color);
  font-size: 1.5rem;
}
.text {
  color: var(--text-color);
  white-space: nowrap;
  margin-left: 12px;
  font-size: 1rem;
}
.sidebar a {
    text-decoration: none;
}

.sidebar-flex {
  display: flex;
  flex-direction: column;
}
.sidebar-footer li {
  margin-top: auto;
  border-top: 1px solid var(--bg-color);
}

.sidebar-footer a {
  padding: 1rem;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
}